{% extends "base.html" %}
{% block content %}
<div style="display: flex; position: fixed; top: 0; left: 0; height: 100%; width: 100%; justify-content: center; align-items: center; flex-direction: column">
    <div style="width: 200px; text-align: center;">
        <a class="btn btn-primary" href="/register" style="width: 100%; margin-bottom: 10px; display: block;">Зарегистрироваться</a>
    </div>
    <div style="width: 200px; text-align: center;">
        <a class="btn btn-success" href="/login" style="width: 100%; margin-bottom: 10px; display: block;">Войти</a>
    </div>
</div>
{% endblock %}