{% extends "base.html" %}

{% block content %}
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.custom-div {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);

    }

.custom-navbar {
        margin: 0 auto;
        background-color: #f8f9fa;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 0 0 8px 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .topics-container {
            max-height: 300px; /* Максимальная высота контейнера с прокруткой */
            overflow-y: auto; /* Включение вертикальной прокрутки */
            position: relative; /* Позиционирование для абсолютно позиционированных элементов внутри */
        }
        .topics {
            position: relative; /* Позиционирование для абсолютно позиционированных элементов внутри */
        }
        .topics table {
            width: 100%;
            border-collapse: collapse;
        }
        .topics th, .topics td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }
        .topics th {
            background-color: #f2f2f2;
        }
        .search-bar {
            position: sticky; /* Фиксированное позиционирование */
            top: 0; /* Отступ от верха */
            background-color: #f8f9fa; /* Цвет фона */
            padding: 10px; /* Отступ внутри элемента */
            z-index: 1; /* Z-индекс для управления порядком слоев */
        }
    </style>
<h1>Редактирование темы</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class_="form-control mb-2") }}<br>
    </p>


    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>

{% endblock %}
