{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center display-4 mb-4">Выдача тестов</h1>
    <form action="/give_test" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <fieldset class="border p-3 rounded">
                    <legend class="form-legend">Выберите студентов:</legend>
                    <div class="form-group">
                        {% for student in students %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="student-{{ student.id }}"
                                   name="students" value="{{ student.id }}">
                            <label class="form-check-label" for="student-{{ student.id }}">{{ student.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
                <br>
                <button type="submit" class="btn btn-primary float-end" onclick="return validateSelection()">Выдать
                    тест
                </button>
            </div>
            <div class="col-md-6">
                <fieldset class="border p-3 rounded">
                    <legend class="form-legend">Выберите тест:</legend>
                    <div class="form-group">
                        <ul class="list-unstyled">
                            {% for topic in topics %}
                            <li>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="topic-{{ topic.id }}" name="topics"
                                           value="{{ topic.id }}">
                                    <label class="form-check-label" for="topic-{{ topic.id }}">{{ topic.name }}</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </fieldset>

                <br>
            </div>

            <div id="error-message" class="alert alert-danger" role="alert" style="display: none;">
                Пожалуйста, выберите хотя бы одного студента и один тест.
            </div>


        </div>
</div>
</form>
</div>

<script>
    function validateSelection() {
      // Check if any student checkbox is selected
      var studentSelected = false;
      var studentCheckboxes = document.querySelectorAll('input[type="checkbox"][name="students"]');
      for (var i = 0; i < studentCheckboxes.length; i++) {
        if (studentCheckboxes[i].checked) {
          studentSelected = true;
          break;
        }
      }

      // Check if any topic radio button is selected
      var topicSelected = document.querySelector('input[type="radio"][name="topics"]:checked');

      // Display error message if necessary
      var errorMessage = document.getElementById('error-message');
      if (!studentSelected || !topicSelected) {
        errorMessage.style.display = 'block';
        return false; // Prevent form submission if selection is invalid
      } else {
        errorMessage.style.display = 'none';
        return true; // Allow form submission if selection is valid
      }
    }
</script>

{% endblock %}
