{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <h1>Тест</h1>
    <form action="{{ url_for('submit_test', test_id=test.id) }}" method="post">
    {% for question in questions %}
        <div class="col-md-6 mx-auto border rounded" style="margin-bottom: 20px;">
            <p class="text-left" style="margin: 10px 0;">{{ question.text }}</p>
            <input type="text" name="answer" class="form-control" style="margin: 10px 0;">
        </div>
    {% endfor %}
        <input type="submit" class="btn btn-primary" value="Отправить">
    </form>
</div>
{% endblock %}
